<% provide(:title, 'About') %>

<div id="about-us" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <%= image_tag 'logo.png', alt:'logo', class:'img img-responsive img-thumbnail img-circle' %>
      </div>
      <div class="col-sm-8">
        <h4 class="text-center">A BRIEF HISTORY</h4>

        <p class="text-justify">
          Christ Praise Chapel praesent nonummy mi in odio. Pellentesque dapibus hendrerit tortor. In dui magna, posuere
          eget, vestibulum et, tempor auctor, justo. Praesent blandit laoreet nibh. Nullam dictum felis eu pede mollis
          pretium. Cras non dolor. Curabitur vestibulum aliquam leo. Nullam vel sem. Morbi ac felis. Etiam ultricies nisi
          vel augue. Etiam rhoncus. Vivamus aliquet elit ac nisl. Nullam dictum felis eu pede mollis pretium. Fusce
          convallis metus id felis luctus adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Fusce id purus. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Sed augue
          ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Donec posuere vulputate arcu. Vestibulum purus
          quam, scelerisque ut, mollis sed, nonummy id, metus. Aenean viverra rhoncus pede.
        </p>

        <h4 class="text-center">WHAT WE BELIEVE</h4>

        <p class="text-justify">
          Christ Praise Chapel praesent nonummy mi in odio. Pellentesque dapibus hendrerit tortor. In dui magna, posuere
          eget, vestibulum et, tempor auctor, justo. Praesent blandit laoreet nibh. Nullam dictum felis eu pede mollis
          pretium. Cras non dolor. Curabitur vestibulum aliquam leo. Nullam vel sem. Morbi ac felis. Etiam ultricies nisi
          vel augue. Etiam rhoncus. Vivamus aliquet elit ac nisl. Nullam dictum felis eu pede mollis pretium. Fusce
          convallis metus id felis luctus adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Fusce id purus. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Sed augue
          ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Donec posuere vulputate arcu. Vestibulum purus
          quam, scelerisque ut, mollis sed, nonummy id, metus. Aenean viverra rhoncus pede.
        </p>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center">OUR VISION</h4>
        <p class="text-justify">
          <em>Curabitur at lacus ac velit ornare lobortis. Pellentesque commodo eros a enim. Praesent metus tellus,
            elementum eu, semper a, adipiscing nec, purus. Maecenas egestas arcu quis ligula mattis placerat. Fusce fermentum.</em>
        </p>
        <h4 class="text-center">OUR MISSION</h4>
        <p class="text-justify">
          <em>Nunc sed turpis. Phasellus a est. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla
            eleifend augue, ac auctor orci leo non est. Aenean viverra rhoncus pede. Praesent turpis. Etiam feugiat
            lorem non metus. Pellentesque dapibus hendrerit tortor. Aenean commodo ligula eget dolor. Pellentesque
            commodo eros a enim. Nullam dictum felis eu pede mollis pretium.</em>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center">OUR PASTORS</h3>
    <div class="col-sm-6 col-md-4">
      <%= image_tag 'bible.jpg', class:'img img-responsive img-thumbnail', alt:'Pastor...' %>
      <h4>Rev'd Luke Mark</h4>
      <p><em>General Superintendent</em></p>
    </div>
    <div class="col-sm-6 col-md-4">
      <%= image_tag 'bible.jpg', class:'img img-responsive img-thumbnail', alt:'Pastor...' %>
      <h4>Pastor John Mark</h4>
      <p><em>Senior Pastor</em></p>
    </div>
    <div class="col-sm-6 col-md-4">
      <%= image_tag 'bible.jpg', class:'img img-responsive img-thumbnail', alt:'Pastor...' %>
      <h4>Pastor Jude Peter</h4>
      <p><em>Assistant Pastor</em></p>
    </div>
  </div>
</div>