<% provide(:title, "#{@message.title}") %>

<div id="edit-message" class="container">
  <h2>Edit Message</h2>

  <%= render 'form' %>

  <%= link_to 'Show', @message %> |
  <%= link_to 'Back', messages_path %>
</div>

