<p><%= comment.author %> said:</p>

<blockquote>
  <%= comment.content %>
</blockquote>

<%= link_to 'Destroy', [comment.message, comment],
            method: :delete, data: { comfirm: 'Are you sure?' } %>