/* General Styling */
body {
  font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
  padding: 83px 0 0;
  position: relative;
  width: 100%;
  margin: 0%;
}

.alert {
  position: absolute;
  width: 97%;
  top: 120px;
  z-index: 30;
  box-shadow: 0.5em 0 1em 5px #264348;
  -moz-box-shadow: 0.5em 0 1em 5px #264348;
  -webkit-box-shadow: 0.5em 0 1em 5px #264348;
  -o-box-shadow: 0.5em 0 1em 5px #264348;
}

#navbar {
  border: none;
}

#upper_bar {
  text-align: left;
  padding-right: 1em;
}

#social-links {
  padding-top: 8px;
  padding-left: 0;
}

#social-links li {
  display: inline-block;
}

#social-links img {
  height: 1.5em;
  width: 1.5em;
}

#fat-menu a {
  color: #adadad;
  background: inherit;
}

#fat-menu a:hover {
  color: #fff;
}
#fat-menu a {
  text-decoration: none;
}

.dropdown-menu {
  background: #333;
}

#dropdown li {
  display: block;
}

#second_bar {
  text-align: center; 
  background: #fff;
  color: #000;
  box-shadow: 0.5em 0 1em 5px #264348;
  -moz-box-shadow: 0.5em 0 1em 5px #264348;
  -webkit-box-shadow: 0.5em 0 1em 5px #264348;
  -o-box-shadow: 0.5em 0 1em 5px #264348;
}

.nav li a:hover,
.nav li a:focus {
  text-decoration: none;
  background-color: transparent;
}

#nav-links li a:hover {
  border-bottom: 2px solid #000000;
}

#nav-links li#logo a:hover {
  border-bottom: 2px solid #fff;
}

#nav-links li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.3em 1em;
  float: none;
}

#nav-links a {
  color: #000;
  font-weight: bolder;
  border-bottom: 2px solid transparent;
}

#menu-button {
  color: #fff;
  font-weight: bolder;
}

#logo {
  z-index: 20;
  border-radius: 45%;
}

#logo, #logo * {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  display: none;
}

/* Home Page */

#home-page {
  padding: 0;
  margin: 0;
}

#pictures {
  width: 100%;
  margin-bottom: 0;
}

#pictures .item img {
  display: block;
  width: 100%;
  height: auto;
}

#pictures .owl-pagination {
  margin-top: -4em !important;
  z-index: 10;
}

#intro {
  margin-top: 4em;
  padding: 1em 0 2em;
}

#pastor-image {
  margin: 0 1em 0 0;
}

.video_thumbs {
  list-style: none;
  padding-left: 4px;
}

.video_thumbs li {
  margin: 5px 0; 
}

/* Service Times */

.service-time {
  padding: 0.3em 0;
  font-size: 1em;
}

.service-time .lead {
  margin: 0;
}

#who-we-are {
  background: url('blurred-grass.jpg') no-repeat;
  background-size: cover;
  background-position: 10% 80%;
  color: #fff;
  padding: 1em 0 3em;
}

#gallery-slides .item{
  margin: 3px;
}

#gallery-slides .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* About Page */
#about-us {
  background: url('about.jpg') no-repeat;
  background-size: cover;
  padding: 4em 0 2em;
}

/* Contact Page */

#contact-page {
  background: url('lifting-hands.jpg') no-repeat;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 1em;
}

#form {
  padding: 4em 1em;
}

#form-instructions {
  font-size: 1em;
}

.contact-header {
  color: #fff;
  font-weight: bold;
}

#contact_comments {
  height: 152px;
  resize: none;
  text-align: justify;
}

.transparent {
  opacity: 0.8;
}

/* Video upload */

.preloader {
  display: none;
}

/* Resources Page */
#videos-index {
  padding: 6em 1em 3em;
  background: #666666;
  height: 100%;
}

#video-player {
  height: 100%;
}

#videos-index iframe {
  box-shadow: 0.5em 0 1em 5px #264348;
  -moz-box-shadow: 0.5em 0 1em 5px #264348;
  -webkit-box-shadow: 0.5em 0 1em 5px #264348;
  -o-box-shadow: 0.5em 0 1em 5px #264348;
  border: 3px solid #555;
  height: 400px;
  width: 750px;
}

#videos-index li {
  list-style: none;
  margin: 1.5em 0;
}

#new-video {
  width: 70%;
  padding: 6em;
}

/* Login Page */
#login-page {
  padding: 6em;
}

/* Footer */
#footer-row-1 {
  padding-left: 3em;
}

#footer-row-2 {
  text-align: center;
}

.footer {
  bottom: 0;
  padding: 4em 1em 1em;
  background: #222222;
  color: #adadad;
  background-size: cover;
}

/*.footer h4 {*/
  /*color: gray;*/
/*}*/
.footer a  {
  color: #adadad;
}

.footer a:hover  {
  text-decoration: none;
}

.footer .well {
  min-height: 0;
  height: 12px;
  padding: 0;
  margin-bottom: 20px;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px gray;
  -moz-box-shadow: inset 0 1px 1px gray;
  -o-box-shadow: inset 0 1px 1px gray;
  box-shadow: inset 0 1px 1px gray;
}

/* Media Queries */
 @media (max-width: 770px) {
  body {
    padding: 87px 0 0;
  }

  #navbar {
    margin: 0;
  }

  .navbar-brand {
    display: inherit;
    width: 60px;
    height: 60px;
    margin-bottom: 4px;
    padding: 0 8px;
  }

  #logo {
    display: none !important;
  }

  #second_bar {
    background: inherit;
    color: #fff;
  }

  #nav-links a {
    color: #fff;
  }

  #nav-links a:hover {
    color: #000;
  }

  #nav-links a:visited {
    color: grey;
  }

  .alert {
    width: 91%;
  }
}

@media (max-width: 600px) {
  #nav-links li {
    display: block;
  }
}

@media (max-width: 992px) {
  #nav-links li {
    padding: 0.3em 4px;
    margin: 0.5em 0;
  }

  #videos-index iframe {
    height: auto;
    width: auto;
  }
}