<div class="footer container-fluid">
  <div class="container">
    <div id="footer-row-1" data-role="footer" class="row">
    </div>
    <div id="footer-row-2" class="row">
      Copyright &copy 2016 <a href="">Christ Praise Chapel</a><br>
      All rights reserved.
    </div>
  </div>
</div>